<!DOCTYPE html>
<html>

<head>
    <title>Pada - Gym - Tracker</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/own/index.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>

                </div>
            </div>
        </div>
    </nav>



    <div class="card">


        <a href="/Exercises" class="main-link">Exercise Selection</a>



    </div>

    <div class="card">


        <a href="/Chart" class="main-link">Chart Selection</a>

    </div>






</body>

</html>