<!DOCTYPE html>
<html>

<head>
    <meta name="theme-color" content="#18181B">
    <title>Padappter</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="iconx/Icon.png" sizes="32x32" />
    <link rel="manifest" href="manifest.webmanifest">

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/own/index.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>

</head>

<body>
    <h1>Padappter</h1>


    <div class="card">
        <a id="startWorkout" href="/Exercises" class="main-link">Start Workout !</a>
    </div>

    <div class="card">
        <a href="/Chart" class="main-link">Workout Analysis</a>
    </div>
    <div class="weightAccordion">


        <% if(!checkDate) {%>
            <div class="accordion-item" id="weightAcc">

                <div class=" d-flex flex-row accordion-header " id=" flush-headingOne">

                    <button class="Touchevent accordion-button collapsed accordionButton" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
                        aria-controls="flush-collapseOne">
                        Add Todays Bodyweight
                    </button>


                </div>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">


                        <div class="centering">
                            <input type="number" class="form-control" placeholder="Bodyweight in kg" required>
                            <button type="button" id="saveWeightButton" class="buttonAll">Save</button>
                        </div>

                    </div>
                </div>
            </div>

            <% }%>


    </div>
    <div class="overviewAccordion">
        <div class="accordion-item" id="weekOverview">

            <div class=" d-flex flex-row accordion-header " id=" flush-headingTwo">

                <button id="overviewButton" class="Touchevent accordion-button collapsed accordionButton" type="button"
                    data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false"
                    aria-controls="flush-collapseTwo">
                    Show last training sessions
                </button>


            </div>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample">
                <div id="accBodyTwo" class="accordion-body">



                    Hier könnte ihre Tabelle stehen

                </div>
            </div>
        </div>
    </div>


    <script src="/js/script.js"></script>
    <script src="/js/handler.js"></script>





</body>

</html>