<!DOCTYPE html>
<html>

<head>
    <meta name="theme-color" content="#18181B">
    <title>Padappter</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="iconx/Icon.png" sizes="32x32" />
    <link rel="manifest" href="manifest.webmanifest">

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/own/index.css">

</head>

<body>
    <h1>Padappter</h1>

    <div class="card">
        <a href="/Exercises" class="main-link">Exercise Selection</a>
    </div>

    <div class="card">
        <a href="/Chart" class="main-link">Chart Selection</a>
    </div>



    <script src="/js/script.js"></script>



</body>

</html>