<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/own/login.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>
    <% if (messages.error) { %>
        <%= messages.error %>
            <% } %>
                <div class="content">
                    < <form action="/login" method="POST">



                        <div class="ingroup">
                            <div class="icon">
                                <img src="pics/user.png" alt="">
                            </div>
                            <div class="input">
                                <input type="email" id="email" name="email" required placeholder="Email">
                            </div>
                        </div>


                        <div class="ingroup">
                            <div class="icon">
                                <img src="pics/padlock.png">
                            </div>
                            <div class=" input">
                                <input type="password" id="password" name="password" required placeholder="Password">
                            </div>
                        </div>
                        <div class="centering">
                            <button class="signin buttonAll" type="submit">Login</button>
                        </div>
                        </form>
                </div>

                <script>

                    sessionStorage.clear()
                </script>


</body>

</html>