<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="theme-color" content="#18181B">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/own/login.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>
    <% if (messages.error) { %>
        <div class="centering" color="white">
            <%= messages.error %>
        </div>
        <% } %>
            <div class="content">
                <form action="/login" id="loginform" method="POST">
                    <div class="ingroup">
                        <div class="icon">
                            <img src="pics/user.png" alt="">
                        </div>
                        <div class="input">
                            <input type="email" id="email" name="email" required placeholder="Email">
                        </div>
                    </div>

                    <div class="ingroup">
                        <div class="icon">
                            <img src="pics/padlock.png">
                        </div>
                        <div class=" input">
                            <input type="password" id="password" name="password" required placeholder="Password">
                        </div>
                    </div>
                    <div class="centering">
                        <button class="signin buttonAll" id="signinbutton" type="submit">Login</button>
                    </div>
                </form>
            </div>

            <script>
                const submitbutton = document.querySelector("#signinbutton")
                submitbutton.addEventListener("click", (evt) => {
                    document.getElementById("loginform").submit();

                    const img = document.createElement("img")
                    img.src = 'pics/muskel.gif'
                    img.style.height = '30%';
                    img.style.width = '100%';
                    evt.target.parentElement.insertBefore(img, evt.target)
                    evt.target.remove()
                })


                sessionStorage.clear()
            </script>


</body>

</html>