<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="theme-color" content="#18181B">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Exercises</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/own/pickableExercises.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>

<body>
<<<<<<< HEAD
=======

>>>>>>> Calender

    <h1>Choose your Split for today</h1>

    <form action="/Datenbank" method="get">

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Biceps" id="Biceps" name="Biceps">
            <label class="form-check-label" for="Biceps">
                Biceps
            </label>
        </div>


        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Triceps" id="Triceps" name="Triceps">
            <label class="form-check-label" for="Triceps">
                Triceps
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Legs" id="Legs" name="Legs">
            <label class="form-check-label" for="Legs">
                Legs
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Chest" id="Chest" name="Chest">
            <label class="form-check-label" for="Chest">
                Chest
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Abdominal" id="Abdominal" name="Abdominal">
            <label class="form-check-label" for="Abdominal">
                Abdominal
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Shoulders" id="Shoulders" name="Shoulders">
            <label class="form-check-label" for="Shoulders">
                Shoulders
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Lower Back" id="Lower Back" name="Lower Back">
            <label class="form-check-label" for="Lower Back">
                Lower Back
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Upper Back" id="Upper Back" name="Upper Back">
            <label class="form-check-label" for="Upper Back">
                Upper Back
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cardio" id="Cardio" name="Cardio">
            <label class="form-check-label" for="Cardio">
                Cardio
            </label>
        </div>




        <div class="centering">
            <button type="submit" class="buttonGet">Continue</button>
        </div>
    </form>


    <<script>
        window.addEventListener('DOMContentLoaded', function (event) {
        console.log("Loaded")
        window.history.pushState({ id: 0 }, null, "/")
        });

        </script>

        <script src=" /js/app.js"></script>

</body>

</html>