*{
    margin: 0;
    padding: 0;
}
body, html {
    width: 100%;
    height: 100%;
    background-color: #18181B !important;
    align-content: center !important;
  }
h1 {
     color: #EFEFF1 !important;
     background-color: #18181B  !important;
     padding-bottom: 0.2em;
     margin: 0;
     text-align: center;
     font-size: 8vw;

}
h2 {
    color: #EFEFF1 !important;
    background-color: #1F1F23  !important;
     text-align: center;
     padding-top: 1rem !important;
     padding-bottom: 1rem !important;
     margin-bottom: 0 !important;
     margin-top: 1rem !important;
   

}
.right_align{
    display: flex;
  align-items: right;
  justify-content: right;
}
.accordion-button:not(.collapsed){

    background-color:#2b2b30 !important;
    font-weight: bold ;
    
}
.p_exName{
    font-weight: bold ;
    
}
.p_exType{
    
    font-size: small !important;
}
.accordion-button{
    background-color: #1F1F23 !important;
    color: #EFEFF1 !important;
    
    border-top: 0.1em solid #000000 !important;
    text-align: center !important;
    align-content: center;
    display:block;
}
.accordion-item{
    color: #EFEFF1;
    background-color: #1F1F23;
    text-align: center !important;
    
}
.accordion-header{
    align-content: center;
}
.form-control{

    border: 0 !important;
    margin-top: 0.2em !important;
    margin-bottom: 0.2em !important;
}
input[type="number"], textarea {

    color: #EFEFF1 !important;
    background-color: #4C4C4F !important;
    text-align: center;
    font-size: 110% !important;

}

input[type="number"]:disabled, textarea:disabled{
    color: #9898ac !important;
    background-color: #2b2b30 !important;

}

.accordion-button::after {

    margin: 0 !important;
}

.buttonAll:disabled{
    color: #4C4C4F !important;
    border-color: #4C4C4F !important;

}

.buttonAll{
    background-color: #18181B;
    color:#FFFFFF;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 200;
    text-align: center;
    width: 30%;
}

.container{

    width: 80%;
    height: 50%;
    text-align: center;
    color: #efeff1;
    background-color: #1F1F23 !important;
    
}

#myChart{
    color: #efeff1;
    background-color: #2b2b30;
    
    
}

#bodyChart{
    color: #efeff1;
    background-color: #2b2b30;
    
    
}

.tr-First{
    padding-left: 10px !important;
    padding-right: 10px !important;
    font-weight: bold;
    border: 3px solid #0c0c0e;
}


table{
    background-color: #2b2b30;
    table-layout: auto;
    width: 45%;    
    border: 3px solid #0c0c0e;
}

td{
    border: 1px solid #4C4C4F;
}

.centering{
    text-align: center;
    background-color: #1F1F23 !important;
    color: #efeff1;
    
}

hr.rounded {
  margin-left: 5%;
  width: 90%;
  border-top: 8px solid #bbb;
  border-radius: 5px;
}


  
.TextStyle{
    color: #EFEFF1;
}

select.form-control{
color: #EFEFF1;
width: 90%;
margin-left: 5% !important;
margin-right: 5% !important;
text-align: center;
background-color:#2b2b30 ;

}
select.smallSelect{

    color: #EFEFF1;
    background-color:#2b2b30 ;

}



option{
background-color:#2b2b30 ;
color: #EFEFF1;
}

::placeholder { 
color:    #efeff1 !important;
font-style: italic;
}

input[type="string"], textarea {

    color: #EFEFF1 !important;
    background-color: #2b2b30 !important;
    text-align: center;
    width: 90% !important;
    font-size: 110% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;

}

input[type="string"]:disabled, textarea:disabled{
    color: #9898ac !important;
    background-color: #2b2b30 !important;

}

.dismiss-style{
   
    width: 30%;
    
    background-color: #18181B;
    color:#FFFFFF;
    
    text-align: center;
    
    border: 0.1em solid #FFFFFF;
    vertical-align: middle;
}


select.form-select{
    color: #EFEFF1;;
    width: 90%;
    margin-left: 5% !important;
    margin-right: 5% !important;
    text-align: center;
    background-color:#2b2b30 !important;
    margin-bottom: 2%;
    
}

.loadingStyle{

        color:#EFEFF1; 
        font-size: 1.5rem;
}

input.form-control{

    margin-top: 1%;
}

input[type="number"], textarea {

    color: #EFEFF1 !important;
    background-color: #2b2b30 !important;
    text-align: center;
    width: 90% !important;
    font-size: 110% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;

}


.card {
    position: relative;
}

.main-link::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-content: center;
    
}
.main-link {
    
    margin:auto;
    font-size: 500%;
    
}  



  
.card {
    align-content: center;
    align-items: center;
    
    
    width: 98%;
    height: 30%;
    background: #1F1F23 ;
    
    padding: 1rem 1.5rem;
   
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    margin: 1%;
  }
  
a {
    color: #efeff1;
    text-decoration: none;
    transition: 0.2s;
    
  
    
  }
  
 
  
  .tags {
    display: flex;
    margin: 10px 0;
  }
.accordionButton{
    font-size: 3rem;
}
.weightAccordion{
    margin-left: 1%;
    width: 98%;

    font-size: 3rem;
  }