*{
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
  }
.card {
    position: relative;
}

.main-link::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-content: center;
    
}
.main-link {
    
    margin:auto;
    font-size: 600%;
    
}  


body {
    background-color: #292b3a ;
    align-content: center;
}

  
.card {
    align-content: center;
    align-items: center;
    font-family: "PT Serif", serif;
    min-width: 95%;
    width: 95%;
    height: 40%;
    background: #17141d;
    border-radius: 3rem;
    padding: 1rem 1.5rem;
    box-shadow: -1rem 0 3rem #000;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.2s;
    margin: 2.5%;
  }
  
a {
    color: #fff;
    text-decoration: none;
    transition: 0.2s;
    
  
    
  }
  
  
  
  .tags {
    display: flex;
    margin: 10px 0;
  }
  
