*{
  margin: 0;
  padding: 0;
}
body, html {
  width: 100;
  height: 100%;
  background-color: #18181B !important;
  align-content: center !important;
}
h1 {
   color: #EFEFF1 !important;
   background-color: #18181B  !important;
   padding-bottom: 0.2em;
   margin: 0;
   text-align: center;

}
.card {
    position: relative;
}

.main-link::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-content: center;
    
}
.main-link {
    
    margin:auto;
    font-size: 500%;
    
}  



  
.card {
    align-content: center;
    align-items: center;
    
    
    width: 98%;
    height: 44%;
    background: #1F1F23 ;
    
    padding: 1rem 1.5rem;
   
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    margin: 1%;
  }
  
a {
    color: #efeff1;
    text-decoration: none;
    transition: 0.2s;
    
  
    
  }
  
 
  
  .tags {
    display: flex;
    margin: 10px 0;
  }
  
